.amount-toggle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.4rem;
}
.amount-toggle>button {
    background-color: #fff;
    cursor: pointer;
    outline: none;
    border:none;
    padding:.6rem  1rem;

  }
.amount-style{

    background-color: #4267B2;
    border-radius: 2rem;
    padding: 0 1rem;
    color: white;
}