*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans';
  font-family: 'Baloo Bhaijaan 2', cursive;
  font-family: 'Ubuntu', sans-serif;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .3s ease-in-out;
  letter-spacing: 2px;

}
*::selection{
  background:#4267B2 ;
  color:#333;
}
html{
   
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  width:1rem;
}

html::-webkit-scrollbar-track{
  background:rgb(61, 58, 58);
}

html::-webkit-scrollbar-thumb{
  background: #4267B2;

  border-radius: 3rem;

}
/* a{
  color: white;
}
a:hover{
  color: #4267B2;
} */